[submodule "sensor-snort"]
	path = sensor-snort
	url = https://github.com/mata-elang-stable/sensor-snort.git
[submodule "me-ansible-playbook"]
	path = me-ansible-playbook
	url = https://github.com/mata-elang-stable/me-ansible-playbook.git
